<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="nao_ip"/>
  <arg name="nao_port" default="9559" />

  <!-- Position interpolation and kick services -->
  <include file="$(find nao_kick)/launch/kicker.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

  <!-- Nodes used to interface with the robot -->
  <include file="$(find nao_bringup)/launch/nao.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

  <!-- Node used to control walking -->
  <include file="$(find nao_apps)/launch/nao_walker.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

  <!-- Nodes used for gamepad control -->
  <include file="$(find nao_teleop)/launch/teleop_joy.launch"/>

</launch>
