<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="nao_ip"/>
  <arg name="nao_port" default="9559" />
  <arg name="nao_body_version" default="V50"/>

  <!-- Position interpolation and kick services -->
  <include file="$(find nao_kick)/launch/kick_nodes.launch">
    <arg name="nao_ip" value="$(arg nao_ip)"/>
    <arg name="nao_port" value="$(arg nao_port)"/>
  </include>

  <!-- upload nao robot model V40 by default-->
  <include file="$(find nao_description)/launch/robot_state_publisher.launch" >
    <arg name="version" value="$(arg nao_body_version)" />
  </include>

  <!-- publish joint states and basic actuators -->
  <include file="$(find naoqi_driver)/launch/naoqi_driver.launch">
    <arg name="nao_ip" value="$(arg nao_ip)" />
    <arg name="nao_port" value="$(arg nao_port)" />
  </include>

  <!-- launch pose manager -->
  <include file="$(find nao_pose)/launch/pose_manager.launch" >
    <arg name="nao_ip" value="$(arg nao_ip)" />
    <arg name="nao_port" value="$(arg nao_port)" />
  </include>

  <!-- enable walker -->
  <include file="$(find nao_apps)/launch/walker.launch">
    <arg name="nao_ip" value="$(arg nao_ip)" />
    <arg name="nao_port" value="$(arg nao_port)" />
  </include>

  <!-- Nodes used for gamepad control -->
  <include file="$(find nao_teleop)/launch/teleop_joy.launch"/>

</launch>
